:root {
  color-scheme: light dark;
  --light-bg: #ddffdd;
  --light-color: #002200;
  --dark-bg: #002200;
  --dark-color: #ddffdd;
}

* {
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  color: light-dark(var(--light-color), var(--dark-color));
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: Arial, sans-serif;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
}

dt {
    grid-column-start: 1;
}

dd {
    grid-column-start: 2;
}
